button {
  width: 100%;
  margin-top: 10px;
}

hr {
  border: 0.5px solid darkgrey;
}

#card-body,
#dashboard-info {
  border: 2px solid lightslategray;
}

.hide {
  display: none;
}

.centered {
  justify-content: center;
}

li {
  list-style-type: none;
}
